.main_chat
  .main_chat-header
    .main_chat-header-classname
      きりん組
      .main_chat-header-image
        キリン
    .main_chat-header-member
      佐藤りな　山本はじめ　高橋優子
  .main_chat_space
    .main_chat_space-message
      .main_chat_space-message-title
        運動会のおしらせ
      .main_chat_space-message-content
        10/5に運動会が開催されます！
      .main_chat_space-message-writer-name
        きりん組　高橋優子
      .main_chat_space-message-time
        2019/09/05 10:25
    .main_chat_space-message
      .main_chat_space-message-title
        運動会のおしらせ
      .main_chat_space-message-content
        10/5に運動会が開催されます！
      .main_chat_space-message-writer-name
        きりん組　高橋優子
      .main_chat_space-message-time
        2019/09/05 10:25
    
  .main_chat-footer
    .main_chat-footer-writer-space
    .main_chat-footer-send
      .main_chat-footer-send-font
        SEND