.side_bar
  .side_bar-login-user
    .side_bar-login-user-name
      山本はじめ
    .side_bar-login-user-icon
      0
  .side_bar-class-list
    .side_bar-class-list-icon
      a
    .side_bar-class-list-classname
      きりん組
  .side_bar-sensei-list
    .side_bar-sensei-list-icon
      a
    .side_bar-sensei-list-senseiname
      高橋優子
  .side_bar-photo
    .side_bar-photo-icon
    a
    .side_bar-photo-class
      お写真はこちらから