.side_bar
  .side_bar-login-user
    .side_bar-login-user-name
      山本はじめ
    .side_bar-login-user-icon
      %i.fas.fa-users-cog
  .side_bar-class-list
    .side_bar-class-list-icon
      %i.fas.fa-pen-square
    .side_bar-class-list-classname
      きりん組
  .side_bar-sensei-list
    .side_bar-sensei-list-icon
      %i.fas.fa-pen-square
    .side_bar-sensei-list-senseiname
      高橋なおこ
  .side_bar-photo
    .side_bar-photo-icon
      %i.fas.fa-pen-square
    .side_bar-photo-class
      お写真はこちらから